/*结果集背景色*/
.select2-results__options {
    background-color: #ffffff;
}

/*结果集高亮背景色*/
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #15b982;
}

/*结果集选中项背景色*/
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #e7f2ed;
    color: #15b982;
    font-weight: 700;
}

/*标签字体颜色*/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #ffffff;
    border: none;
    padding: 0 10px;
}

/*=======================标签背景色======================*/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #4e89da;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice[title="PHP"] {
    background-color: #4e89da;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice[title=MySQL] {
    background-color: #15b982;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice[title=Nginx] {
    background-color: #ff8a0c;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice[title=Laravel] {
    background-color: #7a43e2;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice[title=前端] {
    background-color: #48466d;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice[title=Vue] {
    background-color: #1a936f;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice[title=生活] {
    background-color: #4a2b13;
}
/*======================================================*/

/*移除标签按钮颜色*/
.select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
    color: #ffffff;
}